{% extends "../sub_base.html" %}
{% block title %}Reset Status{% endblock %}
{% block content %}
<div class="container">
            <div class="pt-5">
                {% if 'email' in request.get_full_path %}
                        <h3 class="mb-4">Password Reset Almost Done!</h3>
                        <p>Please check your email for instructions</p>
                {% endif%}
                {% if 'complete' in request.get_full_path %}
                        <h3 class="mb-4">Password Reset Success!</h3>
                        <a href="{% url "account:login" %}">Login</a>
                {% endif%}
            </div>       
</div>
{% endblock %}